@media (max-width: 767px){
    nav{
        width: 75%;
        position: fixed !important;
        top: 0;
        background-color: #e4e4e4;
        height: 120px;
        z-index: 100;
    }
    .container{
        width: 90%;
    }
    .navShadow{
        margin-left: -1%;
        top: 120px;
    }
    .navList, .navButton{
        display: none;
    }
    .navLogo{
        width: 100px;
        height: 40px;
    }
}